@import "config";
@import "../components/Header";
@import "../components/Nav";
@import "../components/Info";
@import "../components/BtnToggleModal";
@import "../components/Stats";
@import "../components/Options";
@import "../components/MobileNav";
@import "../components/Modal";
@import "../components/Form";

// Init
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

// Styles
body {
  font-family: $font;
  min-height: 100vh;
  background: $background;
}

main {
  margin: 0 auto;
  // border: $inspect;
  // width: 100vw;
  max-width: 1440px;
  height: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  // border: solid green 1px;

  .content {
    max-width: 730px;
    height: auto;
    margin: 0 24px;
  }
}

.uti-spacebtwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
