// Init
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

// Variables
$background: #fafafa;
$headings: black;
$text: #7a7a7a;
$primary: #3cb3ab;
$accent: #147a73;

// Styles
body {
  font-family: "Commissioner", sans-serif;
  min-height: 100vh;
}
